fix: typos
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
kepler2warp10

# Test binary, build with `go test -c`
*.test
feat: 

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
